.item-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 93% 7%;
    margin: 10px;
    grid-gap: 0;
    width: 100%;
    min-height: 75px;
}

.item-wrapper > a {
    border: 1px solid grey;
    border-right: 0;
    display: grid;
    grid-template-areas: 
    "thumb header"
    "thumb summary";
    grid-template-columns: 100px 1fr;
}

.item-header {
    grid-area: header;
}

.item-wrapper a:active {
    background-color: aliceblue;
}

.item-wrapper .thumb {
    grid-area: thumb;
    width: 100px;

}

.item-wrapper .item-content {
    grid-area: summary;
    text-align: left;
    padding-left: 15px;
}

.toggle-fav {
    height: 100%;
    cursor: pointer;
}

.item-content {

}