.form-wrapper {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 20px 0px 10px 0px;
}

.form input {
    box-sizing: border-box; 
    border: 1px solid rgb(65, 57, 50);
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
}

.form input[type=submit] {
    background-color: rgba(174, 206, 195, 0.548);
    cursor: pointer;
    margin-left: 20px;
}

.form input[type=submit]:hover {
    background-color: rgba(174, 206, 195);
    outline: 2px solid rgb(65, 57, 50);
}

.form input[type=submit]:active {
    transform: scale(0.96);
}