.App {
  text-align: center;
  min-width: 850px;
}

.nav-buttons {
  position: fixed;
  z-index: 590;
  top: 30px;
  left: 15px;
  width: 120px;
  text-align: left;
}

.favButton {
  display: block;
  border-radius: 5px;
  border: 2px solid rgb(65, 57, 50);
  padding: 10px;
  background-color: rgb(218, 202, 173);
  margin: 5px;
}

.favButton:active {
  transform: scale(0.97);
}

a {
  color: black;
  text-decoration: none;
  background-color: rgba(199, 177, 219, 0.356);
}

a:hover {
  background-color: rgb(245, 231, 205);
}